* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  // overflow-x: hidden;
}

body {
  background: linear-gradient(-45deg, #1c009996, #11023b, #43004d, #002233);
  // background-color: white;
  background-size: 400% 400%;
  animation: movesidewise 15s ease infinite;
  height: 100vh;
}

.formbg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: movesidewise 15s ease infinite;
}

.form {
  width: 100vh;
  margin-top: 20vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    margin-top: 0;
    padding-top: 0;
  }
}

.error {
  color: red;
}

.profile {
  background-color: rgba(195, 0, 255, 0.071);
  border-style: solid;
  border-radius: 10px;
  height: 40vh;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sentimentSection {
  background-color: rgba(195, 0, 255, 0.071);
  border-style: solid;
  border-radius: 10px;
  height: 70vh;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.score-boundary {
  border-color: white;
  border-style: double;
  border-radius: 10px;
  height: 50%;
}

.randomTweetSection {
  background-color: rgba(66, 127, 218, 0.071);
  border-style: solid;
  border-radius: 10px;
  height: 80vh;
  width: 90%;
  margin-top: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  width: 20vw;
  height: 30vh;
}

img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.corner-bg {
  background-image: url("./SVGs/corner.svg");
}

.doubleBorder {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  height: 50%;
  width: 80%;
  font-size: 30px;
  overflow-y: auto;
}

.wavebg {
  aspect-ratio: 960/150;
  width: 100vw;
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-items {
  margin-top: -5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.wave {
  background-image: url("./SVGs/waves.svg");
  animation: movesidewise 30s linear infinite;
}

.item-link {
  color: rgba(0, 0, 0, 0.516);
  text-decoration: None;
  font-size: 1.2em;
  :hover {
    color: rgba(255, 255, 255, 0.507);
    transform: scale(1.2);
  }
}

.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 1px 5px rgba(0, 0, 0, 0.384);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.no-underline {
  text-decoration: None;
  color: white;
}

.white {
  color: white;
}

.grey {
  color: rgba(245, 245, 245, 0.639);
}

.blob-bg {
  background-image: url("./SVGs/blob.svg");
  position: center;
  animation: move-blob 5s linear infinite;
}

// mui overrides
.MuiFormHelperText-root {
  color: rgba(255, 255, 255, 0.402) !important;
}

.MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.402) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.402) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

// Animation css
@keyframes move-blob {
  0% {
    background-position: 10% 50%;
    // transform: rotate(0deg);
  }
  100% {
    background-position: 80% 50%;
    // transform: rotate(360deg);
  }
}

@keyframes movesidewise {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
