* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: linear-gradient(-45deg, #1c009996, #11023b, #43004d, #002233);
  // background-color: #002233;
  background-size: 400% 400%;
  animation: movesidewise 15s ease infinite;
  height: 100vh;
}

.formbg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: movesidewise 15s ease infinite;
}

.form {
  width: 100vh;
  margin-top: 20vh;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  h3 {
    margin-top: 0;
    padding-top: 0;
  }
}

.corner-bg {
  background-image: url("./SVGs/corner.svg");
}

.wavebg {
  aspect-ratio: 960/150;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  background-image: url("./SVGs/waves.svg");
  animation: movesidewise 30s linear infinite;
}

.item-link {
  color: rgba(0, 0, 0, 0.516);
  text-decoration: None;
  font-size: 1.2em;
  :hover {
    color: rgba(255, 255, 255, 0.507);
    transform: scale(1.2);
  }
}

.formdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  border: 1px solid;
  border-radius: 20px;
  box-shadow: 5px 5px 1px 5px rgba(0, 0, 0, 0.384);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.blob-bg {
  background-image: url("./SVGs/blob.svg");
  position: center;
  animation: move-blob 5s linear infinite;
}

// Animation css
@keyframes move-blob {
  0% {
    background-position: 10% 50%;
    // transform: rotate(0deg);
  }
  100% {
    background-position: 80% 50%;
    // transform: rotate(360deg);
  }
}

@keyframes movesidewise {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
